In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [16]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv('/content/dataset-eye.csv')

In [18]:
df.head()

,AF3,F7,F3,FC5,T7,P,O1,O2,P8,T8,FC6,F4,F8,AF4,class
0,4329.23,4009.23,4289.23,4148.21,4350.26,4586.15,4096.92,4641.03,4222.05,4238.46,4211.28,4280.51,4635.90,4393.85,0
1,4324.62,4004.62,4293.85,4148.72,4342.05,4586.67,4097.44,4638.97,4210.77,4226.67,4207.69,4279.49,4632.82,4384.10,0
2,4327.69,4006.67,4295.38,4156.41,4336.92,4583.59,4096.92,4630.26,4207.69,4222.05,4206.67,4282.05,4628.72,4389.23,0
3,4328.72,4011.79,4296.41,4155.90,4343.59,4582.56,4097.44,4630.77,4217.44,4235.38,4210.77,4287.69,4632.31,4396.41,0
4,4326.15,4011.79,4292.31,4151.28,4347.69,4586.67,4095.90,4627.69,4210.77,4244.10,4212.82,4288.21,4632.82,4398.46,0

In [19]:
null_values = df.isnull().sum()
print(null_values)

AF3      0
F7       0
F3       0
FC5      0
T7       0
P        0
O1       0
O2       0
P8       0
T8       0
FC6      0
F4       0
F8       0
AF4      0
class    0
dtype: int64

In [20]:
# mean for each column
mean = df.mean()


print("Mean:")
print(mean)

Mean:
AF3      4321.917777
F7       4009.767694
F3       4264.022433
FC5      4164.946326
T7       4341.741075
P        4644.022379
O1       4110.400160
O2       4616.056904
P8       4218.826610
T8       4231.316200
FC6      4202.456900
F4       4279.232774
F8       4615.205336
AF4      4416.435832
class       0.448798
dtype: float64

In [21]:
# median for each column
median = df.median()

print("Median:")
print(median)

Median:
AF3      4294.36
F7       4005.64
F3       4262.56
FC5      4120.51
T7       4338.97
P        4617.95
O1       4070.26
O2       4613.33
P8       4199.49
T8       4229.23
FC6      4200.51
F4       4276.92
F8       4603.08
AF4      4354.87
class       0.00
dtype: float64

In [22]:

# mode for each column
mode = df.mode().iloc[0]

print("Mode:")
print(mode)

Mode:
AF3      4291.79
F7       4003.59
F3       4263.59
FC5      4122.56
T7       4332.31
P        4616.41
O1       4072.31
O2       4610.77
P8       4196.92
T8       4224.62
FC6      4195.38
F4       4273.85
F8       4603.08
AF4      4352.31
class       0.00
Name: 0, dtype: float64

In [28]:
# calculate skewness for each column
skewness = df.skew()

In [24]:
# Print only the positive skewness values
for col, value in skewness.items():
    if value > 0:
        print(f"{col} has positive skewness of {value}")

AF3 has positive skewness of 122.29386525011812
F7 has positive skewness of 39.046557690711396
FC5 has positive skewness of 122.38777688436551
T7 has positive skewness of 7.561902122619299
P has positive skewness of 122.36281054964749
O1 has positive skewness of 122.38359282836112
O2 has positive skewness of 51.09721901768454
P8 has positive skewness of 122.33467120005805
T8 has positive skewness of 10.23070102200852
FC6 has positive skewness of 31.649004824348655
F4 has positive skewness of 26.556468850889043
F8 has positive skewness of 121.90727242585102
AF4 has positive skewness of 118.1250449998719
class has positive skewness of 0.205909390230705

A positive skewness indicates that the tail on the right side of the probability density function is longer or fatter than the left side. This means that the data is skewed to the right, and the majority of the values are concentrated on the left side of the mean

In [26]:
# Print only the negative skewness values
for col, value in skewness.items():
    if value < 0:
        print(f"{col} has negative skewness of {value}")

F3 has negative skewness of -13.615160740497625

A negative skewness indicates that the tail on the left side is longer or fatter than the right side. This means that the data is skewed to the left, and the majority of the values are concentrated on the right side of the mean.

In [27]:
# Print only the zero valued skewness values
for col, value in skewness.items():
    if value == 0:
        print(f"{col} has zero valued skewness of {value}")

A skewness value of zero indicates that the data is symmetrical, and the mean, median, and mode are equal.

In [29]:
# print all the skewness values
print("Skewness:")
print(skewness)

Skewness:
AF3      122.293865
F7        39.046558
F3       -13.615161
FC5      122.387777
T7         7.561902
P        122.362811
O1       122.383593
O2        51.097219
P8       122.334671
T8        10.230701
FC6       31.649005
F4        26.556469
F8       121.907272
AF4      118.125045
class      0.205909
dtype: float64